<a href="questions/new" class="btn btn-info pull-right" role="button">Ask a question</a>
<div class="panel panel-default" style="margin-top:50px">
    <div class="panel-heading">
        <h3>Questions</h3>
    </div>
    <div class="panel-body">
            <% @questions.each do |question|%>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-1"><div class="text-center">0</div><div class="text-center">votes</div></div>
                            <div class="col-sm-1"><div class="text-center">0</div><div class="text-center">answer</div></div>
                            <div class="col-sm-1"><div class="text-center">0</div><div class="text-center">views</div></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6"><%=link_to(question.title, question_path(question))%></div>
                        </div>
                    </div>
                </div>
                <% end%>
    </div>
</div>